<div *ngIf="!item" class="loading-section">
  <i class="fa fa-loading"></i>
</div>
<div *ngIf="item">
    <h3>
      <a class="title" href="{{item.url}}">
        {{item.title}}
      </a>
    </h3>
    <div class="meta">
      {{item.score}} points by
      <a href="">{{item.by}}</a>
      {{ item.time }}
      <a href="">
        <span *ngIf="item.descendants !== 0">
          {{item.descendants}}
          <span *ngIf="item.descendants === 1">comment</span>
          <span *ngIf="item.descendants > 1">comments</span>
        </span>
        <span *ngIf="item.descendants === 0">discuss</span>
      </a>
    </div>
</div>